Django==2.2.13
pbr==5.1.3
pytz==2018.9
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
stevedore==1.30.1
urllib3==1.24.1
virtualenv==16.4.3
virtualenv-clone==0.5.2
virtualenvwrapper==4.8.4
gunicorn==19.9.0
